{% extends "layout.html.twig" %}

{% block welcome %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Bienvenue <strong>{{ app.user.username }}</strong>
    {% else %}
        SchoolEvents
    {% endif %}
{% endblock%}  

{% block card %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-plus"> Ajout d'un évènement </i> 
    </div>
    <div class="card-body">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="form-group">
            <label for="nom">Nom</label>
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control','placeholder': 'Nom' } }) }}
            {{ form_errors(form.nom) }}
        </div>
        <div class="form-group">
            <label for="dateDebut">Date de début</label>
            {{ form_widget(form.dateDebut) }}
            {{ form_errors(form.dateDebut) }}
        </div>
        <div class="form-group">
            <label for="dateFin">Date de fin</label>
            {{ form_widget(form.dateFin) }}
            {{ form_errors(form.dateFin) }}
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            {{ form_widget(form.description, { 'attr': {'class': 'form-control','placeholder': 'Description' } }) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="form-group">
            <label for="salle">Salle</label>
            {{ form_widget(form.salle, { 'attr': {'class': 'form-control','placeholder': 'Salle'} }) }}
            {{ form_errors(form.salle) }}
        </div>
        <div class="form-group">
            <label for="groupe">Groupe associé :</label>
            {{ form_widget(form.groupe) }}
            {{ form_errors(form.groupe) }}
        </div>
        <div class="form-group">
            <label for="prof">Professeur associé :</label>
            {{ form_widget(form.user) }}
            {{ form_errors(form.user) }}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="card-footer small text-muted">Projet réalisé par Le Bris Paul, Xiong Franck & Plessiet Thomas</div>
</div>
{% endblock%} 

