{% extends "layout.html.twig" %}

{% block welcome %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Bienvenue <strong>{{ app.user.username }}</strong>
    {% else %}
        SchoolEvents
    {% endif %}
{% endblock%}  

{% block card %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-plus"> Ajout d'un groupe </i> 
    </div>
    <div class="card-body">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="form-group">
            <label for="nom">Nom</label>
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control','placeholder': 'Nom' } }) }}
            {{ form_errors(form.nom) }}
        </div>
        <div class="form-group">
            <label for="dateDebut">Ajout de membre(s) au groupe</label>
            {{ form_widget(form.users) }}
            {{ form_errors(form.users) }}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="card-footer small text-muted">Projet réalisé par Le Bris Paul, Xiong Franck & Plessiet Thomas</div>
</div>
{% endblock%} 

