<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}Projet PHP - Xiong/Le Bris/Plessiet{% endblock%}</title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
  <!-- Page level plugin CSS-->
  <link rel="stylesheet" href="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.css') }}">
  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{{ asset('assets/css/sb-admin.css') }}">
  

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{path('homepage')}}">SchoolEvents</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">Evènements</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="{{path('readevent')}}">Liste des évènements</a>
            </li>
            {% if is_granted('ROLE_ADMIN')%}
            <li>
              <a href="{{path('addevent')}}">Ajout d'un évèment</a>
            </li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseGroupe" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">Elèves & Groupes</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseGroupe">
            <li>
              <a href="{{path('readgroupe')}}">Liste des élèves et des groupes</a>
            </li>
            {% if is_granted('ROLE_ADMIN')%}
            <li>
              <a href="{{path('addgroup')}}">Ajout d'un groupe</a>
            </li>
            {% endif %}
          </ul>
        </li>
      </ul>    
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
        
      </ul>
      <ul class="navbar-nav ml-auto">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        
          <li class="nav-item">
           <a class="nav-link" href="{{path('fos_user_profile_show')}}">
              <i class="fa fa-fw fa-user"></i>{{ app.user.username }}</a>
          </li>
           <li class="nav-item">
           <a class="nav-link" data-toggle="modal" data-target="#modalLogout">
              <i class="fa fa-fw fa-sign-out"></i>Logout</a>
          </li>
        
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('fos_user_registration_register')}}">
            <i class="fa fa-fw fa-user-circle"></i> Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('fos_user_security_login')}}">
            <i class="fa fa-fw fa-sign-in"></i>Login</a>
        </li>
      {% endif %}   
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{path('homepage')}}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{% block welcome %}{% endblock%}</li>
      </ol>
      {% block card %}
      
      {% endblock%}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © ORLEANS CITY GANG 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="modalLogout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir vous déconnecter?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Selectionner "Logout" pour vous déconnecter.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
            <a class="btn btn-primary" href="{{path('fos_user_security_logout')}}">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ asset('assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('assets/vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/js/sb-admin.min.js') }}"></script>
    <!-- Custom scripts for this page-->
    <script src="{{ asset('assets/js/sb-admin-datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/sb-admin-charts.min.js') }}"></script>
    
    {% block js %}
      
    {% endblock%}
    
  </div>
</body>

</html>
