{% extends "layout.html.twig" %}

{% block welcome %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Bienvenue <strong>{{ app.user.username }}</strong>
    {% else %}
        SchoolEvents
    {% endif %}
{% endblock%}  

{% block card %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-edit"> Modification de l'évènement {{ groupe_nom }}</i> 
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="form-group">
            <label for="nom">Nom</label>
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control','placeholder': 'Nom' } }) }}
            {{ form_errors(form.nom) }}
        </div>
        <div class="form-group">
        {{ form_end(form) }}
        </div>
        <div class="form-group">
        </div>
    </div>
    <div class="card-footer small text-muted">Projet réalisé par Le Bris Paul, Xiong Franck & Plessiet Thomas</div>
</div>
{% endblock%} 

